.navbar-nav {
  padding-left: 305px;
  font-family: "Roboto", sans-serif;
}

.hero {
  padding: 180px 20px;
  background: url("/Images/banner.jpg");
}

.hero h1 {
  font-size: 50px;
}

.hero h2 {
  font-size: 30px;
}

.hero h1,
.hero h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
}

body,
.hero-about {
  background: #dddddd;
}

.box {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 0 0 #e5e5e5;
  margin: -110px 100px;
  padding: 80px;
  font-family: "Poppins", sans-serif;
}

.box-about {
  margin: -110px 85px;
  padding: 30px;
}

.oferta {
  text-align: center;
}

.oferta p {
  line-height: 1.5;
}

.employee-section h1 {
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 1.5;
  color: black;
}

.employee-section img {
  max-width: 60%;
  margin-left: 82px;
  margin-top: 45px;
}

.employee-section p {
  font-size: 12px;
}

.contact {
  text-align: center;
  border: 20px;
  opacity: 0.9;
}

.contact h1 {
  color: black;
  font-size: 35px;
}

.contact h2 {
  font-size: 18px;
  color: black;
}

.email-link a {
  color: black;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
}

.email-link a:hover {
  color: coral;
}

.social-links a {
  font-size: 18px;
  padding: 10px 14px;
  margin: 0 20px;
  color: coral;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
  background: #fff;
}

.social-links a:hover {
  color: #fff;
  background: coral;
}

@media (max-width: 1024px) {
  .navbar-nav {
    padding-left: 0;
  }

  .box {
    margin: -110px 27px;
    padding: 20px;
  }

  .box-about {
    margin: -120px 0;
    padding: 15px;
  }

  .hero h1 {
    font-size: 35px;
  }

  .hero h2 {
    font-size: 20px;
  }

  .oferta p {
    font-size: 16px;
  }

  .employee-section img {
    max-width: 60%;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-top: 0;
  }

  .employee-section h1 {
    font-size: 28px;
    font-weight: 900;
    text-align: center;
  }

  .employee-section p {
    text-align: center;
    font-size: 15px;
  }

  .contact h1 {
    font-size: 29px;
    font-weight: 300;
  }

  .email-link a {
    font-size: 20px;
  }

  .social-links a {
    font-size: 22px;
  }
}
